{% extends "base.html" %}
{% block content %}

<form action="/cities/{{city.id}}" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ city.name }}" required autofocus>
  </div>

  <div>
    <label for="sight">Sight:</label>
    <input type="text" id="sight" name="sight" value="{{ city.sight }}" required>
  </div>

  <div>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited">

      <option value="true"> yes ive been before</option>
        {% if city.visited == True %} selected="selected" {% endif %}>
        I have already visited
      </option>

      <option value="false">no i havent</option>
        {% if city.visited == False %} selected="selected" {% endif %}>
        Haven't visited yet
      </option>

    </select>
  </div>

  <div>
    <label for="country">Country:</label>
    <select id="country" name="country_id">
      {% for country in all_countries %}
        <option value="{{ country.id }}"
          {% if city.country.id== country.id %} selected="selected"{% endif %}>
          {{ country.name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Update City</button>

</form>

{% endblock %}