body {
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: chartreuse;
    font-family: "Monaco", "Lucida Grande", sans-serif;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
  }
    


  

.menu{

  display: grid;
  gap: 20px;
  grid-template-columns: 100px 200px;
  justify-content: space-around;
  color: aqua;
  border-color: chartreuse;
  font-size: 30px;
  font-style: italic;

  
  
}

h1 {

  display: grid;
  justify-content: center;
  font-size: 70px;
  margin-top: 20px;
}

.menu a{

  color: greenyellow ;
  opacity: 0.8;
 
}

.show_cities{
  display: grid;
  justify-content: center;
  font-size: 30px;
  background-color: white; 
  opacity: 0.8;
}

.city_links{
  display: grid;
  justify-content: center;
  font-size: 30px ;
  color: deeppink;
}

.delete-form{
  display: grid;
  justify-content: center;
  
}

.show_countries{
  display: grid;
  justify-content: center;
  font-size: 30px
}

.country_links{
  display: grid;
  justify-content: center;
  font-size: 30px ;
  color: deeppink;
}

.add_cities{
  display: grid;
  justify-content: center;
  font-size: 30px;

}

.add_countries{
  display: grid;
  justify-content: center;
  font-size: 30px;

}

.edit_city{
  display: grid;
  justify-content: center;
  font-size: 30px;

}

.edit_country{
  display: grid;
  justify-content: center;
  font-size: 30px;

}

.button {
  opacity: 0.8;
  border: 0;
  color: #d60787;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-top: 1.5rem;
  width: 100%;
  size: 20px;
  font-size: 20px;
  

}















