body {
    background: url('/static/images/background12.jpg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(239, 243, 11);
    font-family: "Monaco", "Lucida Grande", sans-serif;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
  }
    


  

.menu{

  display: grid;
  list-style: none;
  gap: 20px;
  grid-template-columns: 100px 200px;
  justify-content: space-around;
  font-size: 20px;
  font-style: italic;
  text-shadow: black 1px 1px 1px;
}



h1 {

  display: grid;
  justify-content: center;
  font-size: 40px;
  margin-top: 36px;
  text-shadow: black 4px 4px 1px;
  color:hotpink
}

.menu a{

  color: hotpink ;
  opacity: 1;
 
}

.show_cities{
  display: grid;
  justify-content: center;
  font-size: 30px;
  text-shadow: black 1px 1px 1px;
   
  
}

.city_links{
  display: grid;
  justify-content: center;
  font-size: 30px ;
  color: rgb(239, 243, 11);
  text-shadow: black 1px 1px 1px;
  text-decoration: none;
  
}

.delete-form{
  display: grid;
  justify-content: center;
  
}

.show_countries{
  display: grid;
  justify-content: center;
  font-size: 30px;
  text-shadow: black 4px 4px 1px;
}



.add_cities{
  display: grid;
  justify-content: center;
  font-size: 30px;

}

.add_countries{
  display: grid;
  justify-content: center;
  font-size: 30px;

}

.edit_city{
  display: grid;
  justify-content: center;
  font-size: 30px;

}

.edit_country{
  display: grid;
  justify-content: center;
  font-size: 30px;

}

.button {
  opacity: 0.2;
  border: 0;
  color: hotpink;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-top: 0.5rem;
  width: 100%;
  size: 20px;
  font-size: 20px;
  
}

.button:hover {
  background-color: hotpink ;
  color: white;
  opacity:0.9
}

input[type=text] {
  padding: 0;
  height: 40px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 16px;
  opacity: 0.2;
}

input:hover{
  background-color: white;
  color: white;
  opacity:0.4
  
}

select{
  padding: 0;
  height: 40px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(241, 241, 241, 0.15);
  background-color: none;
  font-size: 16px;
  opacity: 0.6;

}

header{
  display: grid;
  justify-content: center;
  font-size: 65px;
  list-style: none;
  text-shadow: black 4px 4px 1px;
}














