<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <header>My Travel Bucket List</header>
  
 </head>
      

  
    <body>
    <main>
        <nav>
            <ul class="menu">
              <li> <a href="/home">Home</a></li>
              <li> <a href="/cities">Cities</a></li>
              <li> <a href="/countries">Countries</a></li>
              <li> <a href="/cities/new">Add City</a></li>
              <li> <a href="/countries/new">Add Country</a></li>
              <li> <a href="/cities/tovisit">To Visit</a></li>
              <li> <a href="/cities/visited">Visited</a></li>
              <li></li>
            </ul>
          </nav>
          <section id="content">
              {% block content %}
        
              {% endblock%}
          </section>
    </main>    
    </body>
</html>